<style>
	body {
		background-color: #ECF0F1;
	}
</style>

<div class="row">
	<h1>Create a new Ritual Program</h1>
  <div class="large-4 columns large-offset-2">

    <%= form_for @program, html: { autocomplete: :off } do |f| %>
			<%= f.label :title %>
			<%= f.text_field :title %>
			<%= f.label :target %>
			<%= f.text_field :target, placeholder: 'i.e. sleep, stress, commute' %>
			<%= f.label :description %>
			<%= f.text_area :description, maxlength: 160 %>
			<%= f.label :frequency %>
			<%= f.text_field :frequency, placeholder: 'i.e. daily'%>
			<%= f.label :min_rating_descrip %><span class='input-descriptors'>(describe what a 0 what feel like on a scale of 1 - 10)</span>
			<%= f.text_field :min_rating_descrip %>
			<%= f.label :max_rating_descrip %><span class='input-descriptors'>(describe what a 10 what feel like on a scale of 1 - 10)</span>
			<%= f.text_field :max_rating_descrip %>
			
			<h4>Steps</h4>

			<h5>Step 1</h5>
			<label for='step1_name'>name</label>
			<input class="large-12 columns step-input" type='text_field' name='step1_name' />

			<label for='step1_description'>description</label>
			<input class="large-12 columns step-input" type='text_area' name='step1_description', maxlength='100' />

			<label for='step1_location'>location</label>
			<input class="large-12 columns step-input" type='text_field' name='step1_location', placeholder= "'i.e. home, work'" />

			<label for='step1_duration'>duration &nbsp<span class='input-descriptors'>(in minutes)</span></label>
			<input class="large-12 columns step-input" type='number' name='step1_duration' />
			
			<h5>Step 2</h5>
			<label for='step2_name'>name</label>
			<input class="large-12 columns step-input" type='text_field' name='step2_name' />

			<label for='step2_description'>description</label>
			<input class="large-12 columns step-input" type='text_area' name='step2_description', maxlength='100' />

			<label for='step2_location'>location</label>
			<input class="large-12 columns step-input" type='text_field' name='step2_location', placeholder= "'i.e. home, work'" />

			<label for='step2_duration'>duration &nbsp<span class='input-descriptors'>(in minutes)</span></label>
			<input class="large-12 columns step-input" type='number' name='step2_duration' />
			
			<h5>Step 3</h4>
			<label for='step3_name'>name</label>
			<input class="large-12 columns step-input" type='text_field' name='step3_name' />

			<label for='step3_description'>description</label>
			<input class="large-12 columns step-input" type='text_area' name='step3_description', maxlength='100' />

			<label for='step3_location'>location</label>
			<input class="large-12 columns step-input" type='text_field' name='step3_location', placeholder= "'i.e. home, work'" />

			<label for='step3_duration'>duration &nbsp<span class='input-descriptors'>(in minutes)</span></label>
			<input class="large-12 columns step-input" type='number' name='step3_duration' />

			<p>
        <%# We start with the submit button disabled. %>
        <%= f.submit "Create new Ritual", id: "save-password", class: "button top-breath" %>
      </p>
		<% end %>
	</div>

</div>


