<style>
	body {
		background: #17b960; 
	}
</style>

<div class='row ritual'>
	<div id='ritual_headline' class='large-12 columns'>
		<h3 class='rit_title large-6 columns'><%= @ritual.title %></h3>
		<h3 class='large-2 large-offset-4 columns'><%= @ritual.users_rating %></h3>
		<p  class='large-11 large-offset-1 columns'><%= @ritual.description %></p>
	</div>

	<div id='steps_and_comments' class='large-12 columns'>
		<div id='frequency' class='large-12 columns frequency'>
			<h4>Done: <%= @ritual.frequency %></h4>
		</div>
		<div id='steps' class='large-7 large-offset-1 columns'>
			<div id='step1' class='step'>
				<a href="<%= @ritual._id %>/step1 "><h4>Step 1: &nbsp&nbsp"<%=@ritual.steps[0].name %>"</h4></a>
				<%= if @partial == "step1" then render partial: "step1" end %>
			</div>
			<div id='step2' class='step'>
				<a href="<%= @ritual._id %>/step2 "><h4>Step 2: &nbsp&nbsp"<%=@ritual.steps[1].name %>"</h4></a>
				<%= if @partial == "step2" then render partial: "step2" end %>
			</div>
			<div id='step3' class='step'>
				<a href="<%= @ritual._id %>/step3 "><h4>Step 3: &nbsp&nbsp"<%=@ritual.steps[2].name %>"</h4></a>
				<%= if @partial == "step3" then render partial: "step3" end %>
			</div>
			<div id='total_duration'>
				<h5><span>Total Time Per Period: </span><%= @ritual.total_duration %></h5>
			</div> 
		</div>
		<div id='comments' class='large-3 large-offset-1 columns box'>
			<h4>Users' Comments</h4>
					<%= render partial: "comments" %>
		</div>
	</div>

	<div id='begin' class='large-12 columns'>
		<div class='large-6 large-offset-3 small-centered columns button large'><%= link_to 'Begin', url %></div>
	</div>

</div>
