<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="#">Ritual Reciper </a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
    </ul> <!-- end left nav section -->

    <!-- Right Nav Section -->
    <ul class="right">
      <% unless session[:user_id] == nil %>
        <li><%= link_to 'Create New Ritual', new_ritual_path %></li>
        <li class="divider"></li>
        <% user = User.find(session[:user_id]) %>
        <li class="has-dropdown">
          <a><%= user.name %></a>
          <ul class="dropdown">
            <li><label><%= user.name %></label></li>
            <li><%= link_to user.name, user_path(user.id) %></li>
            <li class="divider"></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </li>
       <% else %>
       <li class='active'><%= link_to "Log In", login_path %></li>
      <% end %>
    </ul>
  </section>
</nav>